:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* 
a:visited {
  text-decoration: none;
} */

body,
html {
  margin: 0;
  height: 100%;
  background: #fff7ed;
}

h1 {
  margin: 0;
}

/* --------------GENERAL STYLING-------------- */
.page {
  margin: 0;
}

/* ----------------------------------------------- */

nav {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.75rem 0;
}

.nav__img {
  color: #000000;
  font-weight: 900;
  font-size: 2rem;
}

.nav__links {
  display: flex;
  gap: 3rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.nav__links > a {
  color: #4d4d4d;
}

.current-path {
  text-decoration: underline;
}
/* ---------------RESPONSIVE STYLING---------------- */

@media only screen and (max-width: 900px) {
  nav {
    gap: 13rem;
  }
  .nav__links {
    font-size: 1.3rem;
    gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .nav__links {
    display: NONE;
  }
}
